root = true

[*]
indent_style = tab
indent_size = 4
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 2

[*.{h,cpp,c}]
guidelines = 80, 120

[*.json]
indent_style = space
indent_size = 2
