################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.*.sw*
*.sdf
*.suo
*.opensdf
*.obj
*.tlog
*.opendb
*.db
*.ipch
*.pch
*.user
*.tmp
/*.ncb
/.vscode/*
/release
/build
/.cache
/dist/*.log
/dist/*.map
/dist/portable
/dist/res/.vscode/*
/docs/build/
/ipch
/src/build/
/src/bzip2/Release
/src/lzma/Release
/src/zlib/Release
/src/updaterevision
/src/gitinfo.h
/win_installer/Output
/cmake-build-*
/.idea/
/.vs
/out/

/dist/*
!/dist/res
!/dist/CMakeLists.txt
!/dist/makebuild.ps1

/msvc/*
!/msvc/resource.h
!/msvc/slade.ico
!/msvc/SLADE.manifest
!/msvc/SLADE.rc

/unix/*
!/unix/build-appimage.sh
!/unix/net.mancubus.SLADE.desktop
!/unix/net.mancubus.SLADE.metainfo.xml
!/unix/net.mancubus.SLADE.svg

CMakeSettings.json
CMakeUserPresets.json
