################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.*.sw*
*.sdf
*.suo
*.opensdf
*.obj
*.tlog
*.opendb
*.db
*.ipch
*.pch
*.user
*.tmp
/*.ncb
/.vscode/*
/release
/build
/dist/*.log
/dist/*.map
/dist/portable
/docs/build/
/ipch
/src/bzip2/Release
/src/lzma/Release
/src/zlib/Release
/src/updaterevision
/src/gitinfo.h
/win_installer/Output
/cmake-build-debug
/.idea/
/msvc/.vs
/.vs

/dist/*
!/dist/res
!/dist/CMakeLists.txt
!/dist/makebuild.ps1

out/
