<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>slade</string>
	<key>CFBundleGetInfoString</key>
	<string>SLADE</string>
	<key>CFBundleIconFile</key>
	<string>SLADE-osx.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.slade</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.3</string>
	<key>CFBundleSignature</key>
	<string>SLA3</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>3.2.3</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Blood RFF File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rff</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Build GRP File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>grp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CD/HD File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cd</string>
				<string>hd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Dark Forces File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gob</string>
				<string>ldf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Data File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Decent HOG File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hog</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Doom WAD File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wad</string>
				<string>rts</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Library File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lib</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Nerve Software Disk File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>disk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Quake PAK File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pak</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Resource File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>resource</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Wolfenstein 3D File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wl1</string>
				<string>wl3</string>
				<string>wl6</string>
				<string>sd1</string>
				<string>sd2</string>
				<string>sd3</string>
				<string>sod</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ZIP File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jdf</string>
				<string>pk3</string>
				<string>pke</string>
				<string>zip</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
