[Desktop Entry]
Name=SLADE
Exec=slade %F
Type=Application
Categories=Development
Comment=It's a Doom editor
Icon=net.mancubus.SLADE
Terminal=false
MimeType=application/x-doom-wad;
Keywords=modding;mapping;doom;map-editor;doom-editor;wad;map;
Keywords[de]=modden;karten-erstellung;doom;karten-editor;doom-editor;wad;karte;
