
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,700,700i,800');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:500,600');

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', 'Segoe UI', sans-serif;
}

a {
    font-weight: 600;
}

.wy-nav-content A:link,
.wy-nav-content A:visited {
	color: hsl(220, 90%, 40%);
}

.wy-nav-content A:hover,
.wy-nav-content A:active {
	color: hsl(40, 100%, 45%);
}

h1,
h2,
h3,
h4,
h5 {
	color: hsl(220, 28%, 43%);
}

h2,
h1 {
    border-color: hsl(220, 35%, 90%);
    border-bottom-width: 0.05em;
    border-bottom-style: solid;
    padding-bottom: 0.2em;
}

type,
arg,
prop,
code {
    font-family: 'Fira Mono', 'Consolas', monospace;
    font-size: 0.9em;
}

code {
	color: black;
    border-color: hsl(220, 35%, 84%);
	background-color: hsl(220, 88%, 96%);
	padding: 0em 0.3em;
}

div.codehilite {
	font-size: 0.8em;
	overflow: auto;
	background-color: hsl(220, 58%, 98%);
	border: 1px solid hsl(220, 58%, 90%);
	margin-bottom: 1.5em;
	padding: 0 0.5em;
}

type,
type a {
	/*font-weight: 600;*/
	color: hsl(40, 98%, 33%) !important;
}

type a:hover {
	color: hsl(40, 100%, 45%) !important;
}

arg,
prop {
	font-weight: 600;
	color: hsl(270, 68%, 43%);
}

prop {
	color: hsl(190, 68%, 33%);
}

pre code {
	background: none repeat scroll 0 0 hsl(220, 33%, 95%);
	border: 1px solid hsl(220, 12%, 88%);
	line-height: 1.5em !important;
}


.wy-nav-top,
.wy-side-nav-search {
    background-color: hsl(220, 27%, 57%);
}

a.btn.btn-neutral {
	border: none;
	background-color: hsl(220, 27%, 57%) !important;
	color: white !important;
	box-shadow: none;
}

a.btn.btn-neutral:hover {
	background-color: hsl(220, 27%, 47%) !important;
}

table.docutils td,
table.docutils th {
	border: none !important;
}

table.docutils thead {
	color: hsl(220, 57%, 97%) !important;
	background-color: hsl(220, 27%, 57%) !important;
	font-size: 1.1em;
}

table.docutils tbody td {
	background-color: inherit !important;
}

table.docutils tbody tr:nth-child(odd) {
	background-color: hsl(220, 60%, 96%) !important;
}

/*
.wy-side-nav-search a {
    color: hsl(220, 100%, 94%);
}

.wy-nav-side {
    background-color: hsl(220, 100%, 94%);
    color: black;
}

.wy-menu-vertical a {
    color: black;
}

.wy-menu-vertical a:hover {
    background-color: hsl(220, 47%, 87%);
}

span.caption-text {
    color: hsl(220, 47%, 40%);
    background-color: hsl(220, 97%, 92%);
    border-bottom: 1px solid hsl(220, 97%, 90%);
}

.wy-menu-vertical .subnav a,
.wy-menu-vertical .subnav .subnav a {
    color: black;
}

.wy-menu-vertical .subnav .subnav a:hover {
    background-color: hsl(220, 77%, 93%);
}

li.current a,
.subnav .subnav {
    background-color: hsl(220, 77%, 97%);
    color: black !important;
}

li.current a:hover {
    background-color: hsl(220, 77%, 93%) !important;
}

.rst-versions {
    background-color: hsl(220, 27%, 37%);
}

.rst-versions .rst-current-version {
    background-color: hsl(220, 27%, 57%);
}

.rst-versions .rst-current-version a:hover {
    color: white;
}*/
