name: Continuous Integration

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "macOS",
            os: macos-12,
            extra_options: "-DBUILD_PK3=ON",
            deps_cmdline: "brew install fluidsynth freeimage ftgl glm libarchive lua mpg123 sfml wxwidgets"
          }
        - {
            name: "Linux GCC",
            os: ubuntu-20.04,
            deps_cmdline: "sudo apt-key adv --fetch-keys https://repos.codelite.org/CodeLite.asc && \
						   sudo apt-add-repository 'deb https://repos.codelite.org/wx3.2.0/ubuntu/ focal universe' && \
						   sudo apt update && sudo apt install \
                           libarchive-dev libfluidsynth-dev libfreeimage-dev libftgl-dev libglm-dev \
                           libgtk-3-dev liblua5.3-dev libmpg123-dev libsfml-dev libwxgtk3.2unofficial-dev"
          }
        - {
            name: "Linux Clang",
            os: ubuntu-20.04,
            extra_options: "-DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++",
            deps_cmdline: "sudo apt-key adv --fetch-keys https://repos.codelite.org/CodeLite.asc && \
						   sudo apt-add-repository 'deb https://repos.codelite.org/wx3.2.0/ubuntu/ focal universe' && \
						   sudo apt update && sudo apt install \
                           libarchive-dev libfluidsynth-dev libfreeimage-dev libftgl-dev libglm-dev \
                           libgtk-3-dev liblua5.3-dev libmpg123-dev libsfml-dev libwxgtk3.2unofficial-dev"
          }

    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies
      shell: bash
      run: |
        if [[ ! -z "${{ matrix.config.deps_cmdline }}" ]]; then
          eval ${{ matrix.config.deps_cmdline }}
        fi

    - name: Configure
      shell: bash
      run: |
        mkdir build
        cmake -B build ${{ matrix.config.extra_options }} .

    - name: Build
      shell: bash
      run: |
        export MAKEFLAGS=--keep-going
        cmake --build build --parallel 3
