name: Continuous Integration

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    defaults:
      run:
        shell: ${{ matrix.config.shell }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: "macOS arm64"
            os: macos-latest
            release: true
            shell: bash
            package_name: "mac_arm64"
            artifact_path: build/*.dmg
            
          - name: "macOS x64"
            os: macos-15-intel
            release: true
            shell: bash
            package_name: "mac_x64"
            artifact_path: build/*.dmg

          - name: "Linux GCC"
            os: ubuntu-24.04
            release_appimage: true
            shell: bash
            extra_options: "-DCMAKE_BUILD_TYPE=RelWithDebInfo"
            package_name: "linux_gcc"
            artifact_path: build/*

          - name: "Linux Clang"
            os: ubuntu-24.04
            shell: bash
            extra_options: "-DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++"
            package_name: "linux_clang"
            artifact_path: build/*

    steps:
    - uses: actions/checkout@v2

    - name: Install Dependencies (macOS)
      if: runner.os == 'macOS'
      run: brew install fluidsynth ftgl lua mpg123 sfml wxwidgets dylibbundler create-dmg webp

    - name: Install Dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get upgrade
        sudo apt-get install \
        libfluidsynth-dev libwebkit2gtk-4.1-dev libwebp-dev \
        libftgl-dev liblua5.3-dev libmpg123-dev libsfml-dev \
        libwxgtk3.2-dev libwxgtk-webview3.2-dev

    - name: Configure
      run: |
        mkdir build
        cmake -B build ${{ matrix.config.extra_options }} .

    - name: Build
      run: |
        export MAKEFLAGS=--keep-going
        cmake --build build --parallel 3

    - name: Install (Linux, for AppImage)
      if: runner.os == 'Linux'
      run: cmake --install build --prefix AppDir/usr

    # For whatever reason linuxdeploy only accepts the legacy filename (appdata) for metainfo
    - name: Rename metainfo to appdata
      if: runner.os == 'Linux'
      run: |
        mv AppDir/usr/share/metainfo/net.mancubus.SLADE.metainfo.xml \
           AppDir/usr/share/metainfo/net.mancubus.SLADE.appdata.xml

    - name: Package (macOS)
      if: runner.os == 'macOS'
      run: |
        cd build
        dylibbundler -od -b -x slade.app/Contents/MacOS/slade -d slade.app/Contents/MacOS/libs -p @executable_path/libs

        for i in {1..10};
        do
          if create-dmg --app-drop-link 10 10 ./slade_${{ matrix.config.package_name }}_${{ github.ref_name }}.dmg ./slade.app;
          then
            echo "slade_${{ matrix.config.package_name }}_${{ github.ref_name }}.dmg created"
            break
          else
            echo "create-dmg failed $i"
          fi
        done

    - name: Install LinuxDeploy
      if: runner.os == 'Linux'
      id: install-linuxdeploy
      uses: miurahr/install-linuxdeploy-action@v1.8.0

    - name: Build AppImage
      if: runner.os == 'Linux'
      run: |
        export LDAI_OUTPUT="SLADE.AppImage"
        export LDAI_UPDATE_INFORMATION="gh-releases-zsync|sirjuddington|SLADE|latest|SLADE.AppImage.zsync"
        ${{ steps.install-linuxdeploy.outputs.linuxdeploy }} --output=appimage --appdir AppDir

    - name: Upload Artifacts
      if: ${{ matrix.config.package_name }}
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.config.package_name }}
        path: ${{ matrix.config.artifact_path }}

    - name: Upload AppImage
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@v4
      with:
        name: AppImage-${{ matrix.config.package_name }}
        path: './*.AppImage*'

    - name: Release
      if: ${{ contains(github.ref, 'tags') && matrix.config.release }}
      uses: ncipollo/release-action@v1
      with:
        name: ${{ github.ref_name }}
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: ${{ matrix.config.artifact_path }}

    - name: Release AppImage
      if: ${{ contains(github.ref, 'tags') && matrix.config.release_appimage }}
      uses: ncipollo/release-action@v1
      with:
        name: ${{ github.ref_name }}
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: './*.AppImage*'
